@font-face {
    font-family: myFirstFont;
    src: url(actor/Actor-Regular.ttf);
}
body{
    font-family: myFirstFont;
}
#main_container{
    padding: 1.5em;
}
input[type=text]{
    height: 2.5em;
    border: 0.09em solid #d3d3d3;
}
input[type=range]{
    -webkit-appearance: none;
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 300px;
}

input[type=range]::-moz-range-track {
    background: #d3d3d3;
    border: none;
    border-radius: 0.2em;
}

input[type=range]::-moz-range-thumb{
    border: 0.02em solid #d3d3d3;
    height: 1.25em;
    width: 1.25em;
    border-radius: 50%;
    background: white;
}
input[type=range]:focus::-moz-range-thumb{
    border: 0.2em solid #98F5FF;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #d3d3d3;
    border: none;
    height: 0.2em;
    border-radius: 0.2em;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    margin-top: -0.5em;
    border: 0.09em solid #d3d3d3;
    height: 1.25em;
    width: 1.25em;
    border-radius: 50%;
    background: white;
}
input[type=range]:focus::-webkit-slider-thumb{
    border: 0.2em solid #98F5FF;
}
input[type=range]:focus {
    outline: none;
}
/*hide the outline behind the border*/
/*
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}*/
#content{
    margin: 2em 0.5em;
    background-color: #d3d3d3;
    padding: 1.5em;
}
input[type=checkbox]{
    -webkit-appearance: checkbox;
    -moz-appearance:    checkbox;
    border-radius: 10%;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    background-color: white;
}
input[type=checkbox]:checked{
    color: deepskyblue;
}
input[type=file]{
    margin: 1em 0em;
    padding: 0.5em;
    border: 0.09em solid #d3d3d3;
    font-family: myFirstFont;
    font-weight: bold;
}
input[type=file]::-webkit-file-upload-button{
    font-family: myFirstFont;
    /*background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);*/
}
